@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

main{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background: linear-gradient(to right top, #5DBCD9, #62E3DF);
}

.glass{
    display: flex;

    min-height: 90%;
    width: 1024px;
    
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));

    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

    z-index: 3;
}

.user-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background: linear-gradient(121.72deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(60px);
    border-radius: 30px 0px 0px 30px;
    border: 3px solid rgba(255, 255, 255, 0.2);
}

.user-info h1{
    font-size: 30px;
    color: #0F211B;
    font-weight: 700;
    border-bottom: 3px solid #0F211B;
}

.forms{
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.inputs label{
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}

.inputs input{
    width: 395px;
    height: 40px;
    border-radius: 30px;
    background-color: #F3FEF5;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 14px;
}

.btn{
    width: 220px;
    height: 70px;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    background: linear-gradient(to right bottom, rgba(46, 204, 113, 1), rgba(46, 204, 113, 0.8));
    font-size: 30px;
    text-transform: uppercase;
    color: #F3FEF5;
    cursor: pointer;
    font-weight: 700;
}

.btn:hover, .btn:focus{
    box-shadow: inset 10em 0 0 0 #F3FEF5;
    color: #2ECC71;
    border: 3px solid #2ECC71;
    transition: all ease-in 0.4s;
}

.forgot{
    font-size: 18px;
    color: #0F211B;
    text-decoration: none;
    margin-bottom: 50px;
    margin-top: 30px;
    font-weight: 600;
}

.forgot:hover{
    color: #33AAFF;
    text-decoration: underline solid #33AAFF 3px;
    transition: all ease-in 0.2s;
}

.images{
    flex: 1;
}

.ilustration{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    width: 200px;
    height: 188px;
    border-radius: 40px;
}

.welcome{
    width: 387px;
    height: 389px;
}

.circle{
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));

    width: 280px;
    height: 280px;
    border-radius: 200px;

    position: absolute;
    bottom: 5%;
    left: 2%;

    border: 3px solid rgba(255, 255, 255, 0.6);
}

.square{
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));

    width: 260px;
    height: 300px;
    border-radius: 30px;

    position: absolute;
    top: 5%;
    right: 2%;

    border: 3px solid rgba(255, 255, 255, 0.6);
}

.bc1, .bc2{
    position: absolute;
    width: 500px;
    height: 300px;

    background: linear-gradient(180deg, rgba(98, 227, 149, 0.48) 0%, rgba(98, 227, 223, 0.36) 100%);
    filter: blur(100px);
}

.bc1{
    left: 2%;
    top: 5%;
}

.bc2{
    right: 2%;
    bottom: 0;
}