.flex{
    display: flex;
}

.jc-space-eve{
    justify-content: space-evenly;
}

.flex-collumn{
    flex-direction: column;
}

.side-bar{
    height: 100vh;
    width: 100px;

    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0%;
    top: 0%;

    z-index: 3;
}

.content-side-bar{
    height: 90%;
    
}

.side-bar-ul{
    height: 100%;
    list-style: none;
    align-items: center;
}

.side-bar-ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid white;
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
}

#icon-home, #icon-chart, #icon-user, #icon-history, #icon-phone, #icon-phone, #icon-office, #icon-off{
    font-size: 24px;
}

#icon-home{
    color: #5D786F;
    padding-top: 1px;
}

#icon-user{
    color: #2ECC71;
    padding-left: 2.5px;
    cursor: pointer;
}

#icon-history{
    color: #F9BD72;
    padding-top: 4px;
    padding-left: 1.5px;
}

#icon-phone{
    color: #DD4DA5;
    padding-top: 3px;
}

#icon-office{
    color: #8359F4;
    padding-left: 1px;
    padding-top: 2px;
}

#icon-off{
    color: #CE312D;
    padding-top: 3px;
    padding-left: 1px;
}